@model Web_BanXeMoTo.Controllers.ViewModel

<dl class="row">
    <dt class="col-md-2">
        <label asp-for="mauXe.Idmau" class="control-label"></label>
    </dt>

    <dd class="col-md-10">
        @Model.mauXe.Idmau
    </dd>
    <dt class="col-md-2">
        <label asp-for="mauXe.Idkm" class="control-label"></label>

    </dt>
    <dd class="col-md-10">
        @foreach (var khuyenmai in Model.ListKhuyenMai)
        {
            if (khuyenmai.Idkm == @Model.mauXe.Idkm)
            {
                @khuyenmai.GiaTri
                break;
            }
        }%
    </dd>
    <dt class="col-md-2">
        <label asp-for="mauXe.Idhang" class="control-label"></label>
    </dt>
    <dd class="col-md-10">
        @foreach (var hang in Model.ListHang)
        {
            if (hang.Idhang == @Model.mauXe.Idhang)
            {
                @hang.TenHang
                break;
            }
        }
    </dd>
    <dt class="col-md-2">
        <label asp-for="mauXe.TenXe" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.mauXe.TenXe
    </dd>
    <dt class="col-sm-2">
        <label asp-for="mauXe.GiaBan" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @((int)@Model.mauXe.GiaBan) VNĐ
    </dd>
    <dt class="col-sm-2">
        <label asp-for="mauXe.BaoHanh" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.mauXe.BaoHanh tháng
    </dd>
    <dt class="col-sm-2">
        <label asp-for="mauXe.MoTa" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.mauXe.MoTa
    </dd>
    <dt class="col-sm-2">
        <label asp-for="mauXe.HinhAnh1" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        <img src="@("/img/"+Model.mauXe.HinhAnh1)" asp-append-version="true" width="200" height="150" />
    </dd>
    <dt class="col-sm-2">
        <label asp-for="mauXe.HinhAnh2" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        <img src="@("/img/"+Model.mauXe.HinhAnh2)" asp-append-version="true" width="200" height="150" />
    </dd>
    <dt class="col-sm-2">
        <label asp-for="mauXe.HinhAnh3" class="control-label"></label>
    </dt>
    <dd class="col-sm-10">
        <img src="@("/img/"+Model.mauXe.HinhAnh3)" asp-append-version="true" width="200" height="150" />
    </dd>
</dl>