@model Web_BanXeMoTo.Controllers.ViewModel
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc;

@{ ViewData["Title"] = "Danhh sách xe";
    Layout = "~/Views/Shared/_LayoutManager.cshtml"; }


<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>

                    Quản lý Xe

                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link active ">
                <span>Danh sách Xe</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Create" class="nav-link  ">
                <span>Thêm xe</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    @using (Html.BeginForm("Index", "Xe", FormMethod.Get, new { @style = "float: right; width: 40%" }))
                    {
                <input type="text" id="searchString" name="searchString" placeholder="Find by id or name">
                                <input type="submit" value="Search" class="btn btn-outline-info" style="margin-bottom:5px" />}
                    <br />
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>
                                    <label class="control-label">@Html.ActionLink("ID Xe", "Index", new { sortOrder = ViewBag.NameSortParm })</label>
                                </th>
                                <th>
                                    <label class="control-label">Hình</label>
                                </th>
                                <th>
                                    <label asp-for="mauXe.TenXe" class="control-label"></label>
                                </th>

                                <th>
                                    <label asp-for="hang.TenHang" class="control-label"></label>
                                </th>

                                <th>
                                    <label asp-for="mauXe.GiaBan" class="control-label"></label>
                                </th>
                                <th class="text-center">
                                    <label asp-for="mauXe.BaoHanh" class="control-label"></label>
                                </th>
                                <th class="text-center">
                                    <label class="control-label">Khuyến mãi</label>
                                </th>
                                <th class="text-center">
                                    <label class="control-label">Tình trạng </label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListXes)
                            {
                                <tr>
                                    <td>
                                        @item.Idxe
                                    </td>
                                    <td>
                                        @foreach (var mau in Model.ListMauXe)
                                        {
                                            if (mau.Idmau == item.Idmau)
                                            {
                                                <img src="@("/img/"+mau.HinhAnh1)" width="120" height="90" />
                                                break;
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var mau in Model.ListMauXe)
                                        {
                                            if (mau.Idmau == item.Idmau)
                                            {
                                                @mau.TenXe;
                                                break;
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var mau in Model.ListMauXe)
                                        {
                                            if (item.Idmau == mau.Idmau)
                                            {
                                                @foreach (var hang in Model.ListHang)
                                                {
                                                    if (mau.Idhang == hang.Idhang)
                                                    {
                                                        @hang.TenHang;
                                                        break;
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td>
                                        @foreach (var mau in Model.ListMauXe)
                                        {
                                            if (mau.Idmau == item.Idmau)
                                            {
                                                @mau.GiaBan;
                                                break;
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @foreach (var mau in Model.ListMauXe)
                                        {
                                            if (mau.Idmau == item.Idmau)
                                            {
                                                @mau.BaoHanh;
                                                break;
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @foreach (var mau in Model.ListMauXe)
                                        {
                                            if (item.Idmau == mau.Idmau)
                                            {
                                                @foreach (var km in Model.ListKhuyenMai)
                                                {
                                                    if (mau.Idkm == km.Idkm)
                                                    {
                                                        @km.GiaTri;
                                                        break;
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.TrangThai == true)
                                        {
                                            <p>Còn hàng</p>
                                        }
                                        else
                                        {
                                            <p>Đã bán</p>
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Idmau" class="btn btn-sm btn-outline-info">Chi tiết</a>
                                        <a asp-action="Delete" asp-route-id="@item.Idmau" class="btn btn-sm btn-outline-danger" hidden>Xóa</a>
                                        <a asp-action="Edit" asp-route-id="@item.Idmau" class="btn btn-sm btn-outline-warning">Sửa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.PagedListPager(Model.ListXes, page => Url.Action("Index",
                                                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>

</div>


