@model Web_BanXeMoTo.Models.DatLich

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DatLich</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.XacNhan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.XacNhan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdkhNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdkhNavigation.Idkh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdmauNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdmauNavigation.Idmau)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IddatLich" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
