@using Microsoft.AspNetCore.Http;
<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

    <!-- TITLE OF SITE -->
    <title>@ViewData["Title"]</title>

    <!-- favicon img -->
    <link rel="shortcut icon" type="image/icon" href="~/assets/logo/favicon.png" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    <!--animate.css-->
    <link rel="stylesheet" href="~/assets/css/animate.css" />

    <!--hover.css-->
    <link rel="stylesheet" href="~/assets/css/hover-min.css">

    <!--datepicker.css-->
    <link rel="stylesheet" href="~/assets/css/datepicker.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" />

    <!-- range css-->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/assets/css/bootsnav.css" />

    <!--style.css-->
    <link href="~/assets/css/MyStyle.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <!--responsive.css-->
    <link rel="stylesheet" href="~/assets/css/responsive.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- main-menu Start -->
    <header class="top-area">
        <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="logo">
                            <a href="@Url.Action("Products", "Products")">
                                moto<span>Circle</span>
                            </a>
                        </div><!-- /.logo-->
                    </div><!-- /.col-->
                    <div class="col-sm-10">
                        <div class="main-menu">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <i class="fa fa-bars"></i>
                                </button><!-- / button-->
                            </div><!-- /.navbar-header-->
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Products" ? "active" : "")"><a href="@Url.Action("Products", "Products")">Trang chủ</a></li>
                                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Query_Mau_Hang" ? "active" : "")"><a href="@Url.Action("Query_Mau_Hang", "Products")">Hãng xe</a></li>

                                    <!-- <li class="smooth-menu"><a href="#blog">Thông tin khách hàng</a></li> -->
                                    <li @(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "active" : "")>
                                        <a href="@Url.Action("Create", "Booking")"><div class="btn-datLich">Đặt lịch</div></a>
                                    </li>
                                    @if (Web_BanXeMoTo.Models.StaticAcc.Name == "")
                                    {
                                        <li>
                                            @Html.ActionLink("Đăng nhập ", "Login", "Login")
                                        </li>
                                    }
                                    else
                                    {
                                        @*<a href="@Html.ActionLink("", "IndexProfile", "ProfileKhachHang")">*@

                                        <li class="dropdown">
                                            <a href="javascript:void(0);" style="padding: 0" class=" dropdown-toggle" data-toggle="dropdown">
                                                <div>
                                                    <img src="@("/img/"+Web_BanXeMoTo.Models.StaticAcc.Avatar)" class="img_avt_customer" height="40" width="40" />

                                                </div>
                                                @Web_BanXeMoTo.Models.StaticAcc.Name
                                            </a>
                                            <ul class="dropdown-menu ">
                                                <li>
                                                    @Html.ActionLink("Trang cá nhân", "ProfileKhachHang", "Profile", "", new {@class = "a_DropdownMenu" })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Đăng xuất", "Logout", "Login", "", new { @class = "a_DropdownMenu" })
                                                </li>
                                            </ul>

                                        </li>
                                    }

                                    <!--/.project-btn-->
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.main-menu-->
                    </div><!-- /.col-->
                </div><!-- /.row -->
                <div class="home-border"></div><!-- /.home-border-->
            </div><!-- /.container-->
        </div><!-- /.header-area -->

    </header><!-- /.top-area-->
    <!-- main-menu End -->
    @RenderBody()
    <!--blog start-->
    <section id="blog" class="blog">
        <div class="container">
            <div class="blog-details">
                <div class="gallary-header text-center">
                    <h2>
                        Tin tức mới nhất
                    </h2>
                    <p>
                        Review đánh giá sản phẩm và các thông tin mới nhất trong và ngoài nước.
                    </p>
                </div><!--/.gallery-header-->
                <div class="blog-content">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                <div class="blog__img text-white" style="background-color: #c6c6c6">
                                    <img class="img-fluid" src="~/img/Background/xehay-logo.png" alt="">
                                    <div class="blog__overlay"></div>
                                </div>
                                <div class="caption">
                                    <div class="blog-txt">
                                        <a target="_blank" href="https://xehay.vn/tag/xe-pkl">Read More</a>
                                    </div><!--/.blog-txt-->
                                </div><!--/.caption-->
                            </div><!--/.thumbnail-->

                        </div><!--/.col-->

                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                <div class="blog__img text-white" style="background-color: #c00000">
                                    <img class="img-fluid" src="~/img/Background/motosaigon_logo.png" alt="">
                                    <div class="blog__overlay"></div>
                                </div>
                                <div class="caption">
                                    <div class="blog-txt">
                                        <a target="_blank" href="https://motosaigon.vn/">Read More</a>
                                    </div><!--/.blog-txt-->
                                </div><!--/.caption-->
                            </div><!--/.thumbnail-->

                        </div><!--/.col-->

                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                <div class="blog__img text-white" style="background-color: #1e1e1e">
                                    <img class="img-fluid" src="~/img/Background/2banhvn_logo.png" alt="">
                                    <div class="blog__overlay"></div>
                                </div>
                                <div class="caption">
                                    <div class="blog-txt">
                                        <a target="_blank" href="https://www.2banh.vn/">Read More</a>
                                    </div><!--/.blog-txt-->
                                </div><!--/.caption-->
                            </div><!--/.thumbnail-->

                        </div><!--/.col-->

                    </div><!--/.row-->
                </div><!--/.blog-content-->
            </div><!--/.blog-details-->
        </div><!--/.container-->

    </section><!--/.blog-->
    <!--blog end-->
    <!-- footer-copyright start -->
    <footer class="footer-copyright">
        <div class="container">
            <div class="footer-content">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <div class="footer-logo">
                                <a href="index.html">
                                    moto<span>Circle</span>
                                </a>
                                <p>
                                    best choise for your life
                                </p>
                            </div>
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                    <div class="col-sm-3">
                        <div class="single-footer-item">
                            <h2>Link</h2>
                            <div class="single-footer-txt">
                                <p><a href="#">Trang chủ</a></p>
                                <p><a href="#">Sản phẩm</a></p>
                                <p><a href="#">Khuyến mãi</a></p>
                                <p><a href="#">Blog</a></p>
                                <p><a href="#">Liên hệ</a></p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->

                    </div><!--/.col-->

                    <div class="col-sm-3" style="float: right;">
                        <div class="single-footer-item text-center">
                            <h2 class="text-left">contacts</h2>
                            <div class="single-footer-txt text-left">
                                <p>(072) 6868 6868</p>
                                <p class="foot-email"><a href="#">motocircle@info.com</a></p>
                                <p>828 Su Van Hanh</p>
                                <p>Ho Chi Minh City, Viet Nam</p>
                            </div><!--/.single-footer-txt-->
                        </div><!--/.single-footer-item-->
                    </div><!--/.col-->

                </div><!--/.row-->

            </div><!--/.footer-content-->
            <hr>
            <div class="foot-icons ">
                <ul class="footer-social-links list-inline list-unstyled">
                    <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <p>&copy; 2021. All Right Reserved</p>

            </div><!--/.foot-icons-->
            <div id="scroll-Top">
                <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
            </div><!--/.scroll-Top-->
        </div><!-- /.container-->

    </footer><!-- /.footer-copyright-->
    <!-- footer-copyright end -->




    <script src="~/assets/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


    <!--bootstrap.min.js-->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/assets/js/bootsnav.js"></script>

    <!-- jquery.filterizr.min.js -->
    <script src="~/assets/js/jquery.filterizr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--jquery-ui.min.js-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- counter js -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>

    <!--owl.carousel.js-->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <!-- jquery.sticky.js -->
    <script src="~/assets/js/jquery.sticky.js"></script>

    <!--datepicker.js-->
    <script src="~/assets/js/datepicker.js"></script>

    <!--Custom JS-->
    <script src="~/assets/js/custom.js"></script>


</body>

</html>