@model Web_BanXeMoTo.Controllers.ViewModelCus
@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!--about-us start -->
<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>If passion is the path to success, persistence is your motorcycle</h2>
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->

<style>
    .layer {
        margin: 50px 0;
        border: 5px solid #00ffff;
        border-radius: 10px;
    }
</style>

<div class="container">
    <div class="layer">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.HoaDon.Idhd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoaDon.NgayDat)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.datLich.Idkh)
                    </th>*@
                    <th>
                        Tổng tiền
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.datLich.GhiChu)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kh in Model.ListKhachHang)
                {
                    if (Context.Session.GetString("email") == kh.Email)
                    {
                        @foreach (var hd in Model.ListHoaDon)
                        {
                            if (hd.Idkh == kh.Idkh)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => hd.Idhd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => hd.NgayDat)
                                    </td>
                                    @*<td >
                                        @Html.DisplayFor(modelItem => dl.Idkh)
                                    </td>*@
                                    <td>
                                                @{
                                                    Int64 amount = 0;
                                                    @foreach (var cthd in Model.ListChiTietHd)
                                                    {

                                                        if (hd.Idhd == cthd.Idhd)
                                                        {
                                                            amount += ((cthd.KhuyenMai == 0 ? ((Int64)cthd.GiaBan) : (((Int64)cthd.GiaBan) - ((Int64)cthd.GiaBan) * (Int64)cthd.KhuyenMai / 100)));
                                                        }
                                                    }
                                                    @string.Format("{0:N0}", ((Int64)@amount))

                                                } VNĐ
                                    </td>
                                    <td>
                                         <a asp-action="HistoryDetails" asp-route-id="@hd.Idhd">Chi tiết</a>
                                    </td>
                                </tr>
                            }

                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>

